:root {
	box-sizing: border-box;
	--orange: #f9c546;
	--black: #222222;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@400;500;700&display=swap');

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Lexend Zetta', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: var(--black);
	/* position: relative; */
}

/* *for older bwrs */
/* body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: radial-gradient(rgba(5, 5, 6, 0.6) 10%, var(--black) 70%);
	opacity: 0.8;	
} */
/* *for older bwrs */

a {
	color: inherit;
	text-decoration: none;
}

input,
textarea {
	width: 100%;
	display: block;
	padding: 15px;
	outline: none;
	border: 1px solid rgba(250, 250, 250, 0.6);
	font-size: 16px;
	color: #FFFFFF;
	background-color: transparent;
}

:is(input, textarea)::placeholder {
	font-family: 'Lexend Zetta', sans-serif;
	font-size: 16px;
	color: #FFFFFF !important;
	opacity: 0.6;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

.container.--small {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
}

.header {
	height: 100vh;
	padding-top: 40px;
	background-image: url(../images/image-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, var(--black) 60.5%, var(--orange) 39.5%);
	opacity: 0.8;
}

.header__top {
	height: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	position: relative;
}

.header__logo {
	height: 100%;
	display: inline-block;
}

.header__logo span {
	height: 100%;
	padding-bottom: 12px;
	color: var(--orange);
	font-size: 28px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

.header__logo span::before {
	content: '';
	width: 30px;
	height: 5px;
	position: absolute;
	bottom: -10px;
	left: 0;
	background-color: var(--orange);
}

.header__menu {
	display: flex;
	position: relative;
	z-index: 2022;
}

.menu-list__left {
	display: flex;
	top: 0;
	left: 0;
	opacity: 0;
	animation: 1s ease-out 2s 1 slideLeft;
}

.menu-list__right {
	display: flex;
	margin-right: 30px;
	opacity: 0;
	animation: 1s ease-out 2s 1 slideRight;
}

.menu-list__item {
	width: 100px;
	padding: 15px 30px 15px 15px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	transition: all 0.5s ease-in-out;
}

.menu-list__item::after {
	content: '';
	position: absolute;
	width: 16px;
	height: 10px;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	background-repeat: no-repeat;
	background-position: center;
}

.menu-list__left .menu-list__item::after {
	background-image: url(../images/chevron-down-black.svg);
}

.menu-list__right .menu-list__item::after {
	background-image: url(../images/chevron-down-orange.svg);
}

.menu-list__left .menu-list__item {
	color: var(--black);
	background-color: var(--orange);
}

.menu-list__right .menu-list__item {
	color: var(--orange);
	background-color: var(--black);
}

.menu-list__item:hover .submenu-list {
	display: block;
}

.submenu-list {
	width: 170px;
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	transition: all 0.5s ease-in-out;
	z-index: 10;
}

.submenu-list__item {
	display: block;
	padding: 10px 0 10px 30px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	cursor: pointer;
}

.menu-list__right .submenu-list__item {
	color: var(--black);
	background-color: var(--orange);
}

.submenu-list__item {
	color: var(--orange);
	background-color: var(--black);
}

.mobile__menu {
	width: 100%;
	margin-right: 30px;
	transition: all 0.5s ease 0s;
}

.mobile__menu-text {
	padding: 0 0 10px;
	font-size: 34px;
	line-height: 34px;
	font-weight: 500;
	border-bottom: 1px solid var(--black);
}

.mobile-list__item {
	margin: 0 auto;
	padding: 15px;
	font-size: 28px;
	line-height: 28px;
	font-weight: 500;
}

.mobile__menu,
.mobile__menu-btn {
	display: none;
}

.header__inner {
	max-width: 680px;
	height: 140px;
	margin: 275px auto 0px 335px;
	display: flex;
	gap: 20px;
}

.header__inner-item {
	height: 100%;
	color: var(--orange);
	padding-left: 30px;
	border-left: 10px solid var(--orange);
	position: relative;
	opacity: 0;
	animation: 1s ease-out 2s 1 slideLeft;
}

.inner-item__subtitle {
	margin-bottom: 20px;
	font-size: 35px;
	line-height: 35px;
	font-weight: 700;
}

.inner-item__title {
	font-size: 100px;
	line-height: 100px;
	font-weight: 700;
}

.inner-item__title--right {
	margin-top: 55px;
	font-size: 100px;
	line-height: 100px;
	font-weight: 700;
	color: var(--black);
	opacity: 0;
	animation: 1s ease-out 2s 1 slideRight;
	z-index: 2022;
}

.visible {
	opacity: 1;
}

/* *for older bwrs */
/* .bg {
	width: 39.6%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #f8c246;
	opacity: 0.8;
} */
/* *for older bwrs */

.demo {
	background-color: #FFFFFF;
	text-align: center;
	position: relative;
}

.demo__inner {
	padding-top: 150px;
	margin-bottom: 190px;
	position: relative;
	z-index: 2022;
}

.demo::before,
.demo::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 10;
}

.demo::before {
	height: 620px;
	top: -30px;
	transform: skewY(5deg);
}

.demo::after {
	height: 540px;
	transform: skewY(-6deg);
	top: 8px;
}

.content__inner-title {
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	text-transform: uppercase;
}

.content__inner-text {
	max-width: 900px;
	margin: 0 auto;
	color: gray;
}

.decor {
	width: 230px;
	height: 2px;
	display: inline-block;
	margin: 60px 0 50px;
	background-color: var(--orange);
	position: relative;
}

.decor::after {
	content: '';
	width: 65px;
	height: 8px;
	position: absolute;
	top: 0;
	left: 50%;
	background-color: var(--orange);
	transform: translateX(-50%);
}

.contacts {
	height: 1230px;
	text-align: center;
	background-image: url(../images/image-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	position: relative;
}

.contacts::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(var(--black) 100%, var(--black) 100%);
	opacity: 0.8;
}

.contacts__inner {
	padding-top: 170px;
	position: relative;
}

.contacts__inner .content__inner-title {
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	color: #FFFFFF;
}

.contacts__inner .content__inner-text {
	margin-bottom: 115px;
	color: #FFFFFF;
}

.form {
	max-width: 550px;
	margin: 0 auto;
	position: relative;
	opacity: 0;
	transform: translateY(100%);
	transition: all 0.8s ease-in-out;
}

.slide {
	transform: translateY(0);
	opacity: 1;
}

.valid {
	display: none;
	position: absolute;
	width: 50px;
	height: 30px;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
	color: #FFFFFF;
	font-size: 16px;
}

.form__name,
.form__email,
.form__phone {
	margin-bottom: 50px;
}

.from__message {
	margin-bottom: 70px;
}

:is(.form__name, .form__email, .form__phone, .from__message):focus {
	border-color: var(--orange);
}

:is(.form__name, .form__email, .form__phone, .from__message):valid {
	background-image: url(../images/check-icon.svg);
	background-size: 20px;
	background-position: center  right 15px;
	background-repeat: no-repeat;
}

.form .form__input {
	font-size: 20px;
	letter-spacing: 0.5px;
	font-weight: 700;
	color: var(--black);
	text-transform: uppercase;
	border: none;
	background-color: var(--orange);
	cursor: pointer;
	opacity: 0.77;
}

@keyframes slideRight {
	0% {
		transform: translateX(-100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideLeft {
	0% {
		transform: translateX(100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media (min-width: 1919.98px) and (max-width: 1920.98px) {
	.header::before {
		background: linear-gradient(90deg, var(--black) 57.87%, var(--orange) 42.13%);
	}
	.header__inner {
		margin: 400px auto 0px 335px;
	}
}

@media (min-width: 1500.98px) and (max-width: 1919.98px) {
	.header__inner {
		margin: 380px auto 0px 335px;
	}
}

@media (max-width: 1100px) {
	.header__top {
		justify-content: space-around;
	}
	.header__inner {
	margin: 275px auto 0px;
	}
}

@media (max-width: 970px) {
	.menu-list__item:last-child {
		display: none;
	}
}

@media (max-width: 870px) {
	.content__inner-text {
		padding: 0 20px;
	}
}

@media (max-width: 768px) {
	.header {
		height: 80vh;
	}
	.header::before {
		background: linear-gradient(90deg, var(--black) 50%, var(--orange) 50%);
	}
	.header__top {
		justify-content: space-between;
		align-items: flex-start;
		padding: 0 10px;
	}
	.header__inner {
		height: auto;
		justify-content: center;
		margin: 350px 0;
	}
	.menu-list__left,
	.menu-list__right {
		display: none;
	}
	.mobile__menu.active {
		display: block;
	}
	.mobile__menu-btn {
		display: block;
		padding: 0;
		display: block;
		border: none;
		outline: none;
		cursor: pointer;
		background-color: transparent;
		z-index: 2022;
	}
	.mobile__menu-btn span {
		width: 32px;
		height: 4px;
		display: block;
		margin-bottom: 6px;
		opacity: 1;
		transition: opacity 1s;
		background-color: var(--black);
		z-index: 2022;
	}
	.mobile__menu-btn::before,
	.mobile__menu-btn::after {
		content: '';
		width: 32px;
		height: 4px;
		display: block;
		margin-bottom: 6px;
		transition: transform .3s;
		background-color: var(--black);
		z-index: 2022;
	}
	.mobile__menu-btn::after {
		width: 32px;
		margin-bottom: 0;
		margin-left: auto;
	}

	.mobile__menu-btn.active span {
		opacity: 0;
		transition: opacity 0s;
		/* background-color: var(--orange); */
	}
	
	.mobile__menu-btn.active::before {
		transform: translateY(10px) rotate(135deg);
		/* background-color: var(--orange); */
	}
	
	.mobile__menu-btn.active::after {
		width: 32px;
		transform: translateY(-10px) rotate(-135deg);
		/* background-color: var(--orange); */
	}
	.inner-item__subtitle {
		margin-bottom: 40px;
		font-size: 30px;
		line-height: 30px;
	}
	.inner-item__title,
	.inner-item__title--right {
		font-size: 60px;
		line-height: 45px;
	}
	.inner-item__title--right {
		margin-top: 70px;
		margin-right: 35px;
	}
	.demo__inner {
		margin-bottom: 170px;
	}
	.content__inner-text {
		font-size: 24px;
	}
}

@media (max-width: 740px) {
	.header__inner {
		justify-content: space-around;
	}
}

@media (max-width: 610px) {
	.header__inner {
		justify-content: flex-start;
		margin-left: 30px;
	}
}

@media (max-width: 565px) {
	.header {
		height: 70vh;
	}
	.header__inner {
		margin: 250px 10px;
	}
	.header__inner-item {
		padding-left: 20px;
	}
	.mobile__menu-text {
		font-size: 24px;
		line-height: 24px;
	}
	.mobile-list__item {
		padding: 10px;
		font-size: 20px;
		line-height: 20px;
	}
	.demo__inner {
		padding-top: 100px;
		margin-bottom: 100px;
	}
	.demo::before {
		height: 500px;
		top: -20px;
	}
	.demo::after {
		height: 470px;
	}
	.contacts {
		height: 1100px;
	}
	.contacts__inner {
		padding-top: 100px;
	}
	.contacts__inner .content__inner-text {
		margin-bottom: 50px;
	}
	.form {
		max-width: 420px;
	}
}

@media (max-width: 490px) {
	.header {
		height: 60vh;
	}
	.header__inner {
		justify-content: center;
		margin: 200px 0;
	}
	.header__inner-item {
		border-left-width: 5px;
	}
	.inner-item__title,
	.inner-item__title--right {
		font-size: 40px;
	}
	.inner-item__title--right {
		margin-right: 70px;
	}
	.content__inner-title,
	.contacts__inner .content__inner-title {
		font-size: 40px;
		line-height: 40px;
	}
	.decor {
		margin: 40px 0 30px;
	}
	.demo__inner {
		padding-top: 80px;
		margin-bottom: 80px;
	}
	.demo::before {
		height: 400px;
	}
	.demo::after {
		height: 350px;
	}
	.contacts {
		height: 850px;
	}
	.contacts__inner {
		padding-top: 70px;
	}
	.form__name,
	.form__email,
	.form__phone {
		margin-bottom: 20px;
	}
	.from__message {
		margin-bottom: 30px; 
	}
}

@media (max-width: 425px) {
	.form {
		max-width: 350px;
	}
}

@media (max-width: 380px) {
	.header {
		height: 50vh;
	}
	.header__top {
		height: 30px;
	}
	.header__logo span {
		padding-bottom: 0;
		font-size: 20px;
		line-height: 20px;
	}
	.header__inner {
		margin: 150px 0 0;
	}
	.header__inner-item {
		padding-left: 0;
		border: none;
	}
	.mobile__menu-text {
		font-size: 18px;
		line-height: 18px;
		padding: 0 0 5px;
	}
	.mobile-list__item {
		padding: 8px;
		font-size: 16px;
		line-height: 16px;
	}
	.mobile-list__item:nth-child(-n+2) {
		display: none;
	}
	.inner-item__subtitle {
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 20px;
	}
	.inner-item__title,
	.inner-item__title--right {
		font-size: 35px;
	}
	.inner-item__title--right {
		margin-top: 40px;
		margin-right: 50px;
	}
	.demo__inner {
		padding-top: 50px;
	}
	.demo::before {
		height: 350px;
	}
	.demo::after {
		height: 305px;
	}
	.contacts {
		height: 750px;
	}
	.content__inner-title,
	.contacts__inner .content__inner-title {
		font-size: 30px;
		line-height: 30px;
	}
	.content__inner-text,
	.contacts__inner .content__inner-text {
		font-size: 16px;
		line-height: 20px;
	}
	.form {
		max-width: 300px;
	}
	.form__name,
	.form__email,
	.form__phone,
	.from__message {
		padding: 10px;
	}
	.form .form__input {
		font-size: 18px;
		padding: 10px;
	}
	:is(.form__name, .form__email, .form__phone, .from__message):valid {
		background-size: 10px;
	}
}